$prefix: bs- !default;

$primary: #000000;
$secondary: #181818;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

/* Corners & borders */
$enable-rounded: true;
$border-width: 1px;
$border-radius: 0.5rem;

/* Shadows */
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.04);

/* Body & tables */
$body-bg: #e5e5e5;
$body-bg-dark: #000000;
$body-color: #111111;
$table-border-color: #e5e5e5;

/* Focus */
$focus-ring-width: 0.25rem;
$focus-ring-opacity: 1;
$focus-ring-color: rgba(59, 130, 246, 0.35);

$card-cap-bg: rgba(var(--#{$prefix}body-color-rgb), 0.0) !default;

$font-family-sans-serif:
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // older macOS and iOS
    "Helvetica Neue",
    // Linux
    "Noto Sans",
    "Liberation Sans",
    // Basic web fallback
    Arial,
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji", !default;
